@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
body {
  background-color: #fff;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logo {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.logoText {
  font-size: 18px;
  font-family: "Inter";
  font-weight: 500;
  color: "#3A404E";
  line-height: 18px;
}

li {
  width: 30vw;

  display: flex;
  justify-content: space-between;
}
li > a {
  font-family: "Inter";
  font-size: 16px;
  line-height: 24px;
  color: "#667085";
}
.buttons {
  width: 12vw;
  display: flex;
  justify-content: space-evenly;
}
.signIn {
  font-family: "Inter";
  font-size: 16px;
  line-height: 24px;
  color: "#667085";
}
.register {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  background-color: #8e2424;
  width: 8vw;
  height: vh;
  border: 1px solid #8e2424;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
